@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Pixelify+Sans&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.model {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #000;
    padding: 20px;
    z-index: 20;   

    .input-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .name-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
        }

        .select-opponent {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .opponent-btn {
                width: 45%;
                padding: 5px 0;
            }
        }

        #play-btn {
            width: 100%;
            padding: 8px 0;
        }

    }

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#opponent-name {
    display: none;
}

input[type="text"] {
    padding: 5px;
}

label {
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    background-color: black;
}

#game-title {
    color: #fff;
    font-size: 4em;
    font-weight: 900;
}

.main-container {
    display: inherit;
}
.main {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.player-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#play-again {
    grid-column: 2 / 3;
    display: none;
    padding: 5px 8px;
    font-size: 19px;
    font-weight: 700;
    background: black;
    border: none;
    cursor: pointer;
    color: white;
}

#player-1 {
    grid-column: 1 / 2;
}

#player-2 {
grid-column: 3 / 4;
}

.player-turn {
    background-color: black;
    color: #fff;
    padding: 5px 8px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 7rem);
    grid-template-rows: repeat(3, 7rem);
    justify-items: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 44px;
    font-weight: 700;
    color: black;
}

.cell:hover:not(:disabled) {
    background-color: black;
}

#cell-2,
#cell-5,
#cell-8 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#cell-4,
#cell-5,
#cell-6 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}